SECRET_KEY=replace-me-with-a-long-random-string
DEBUG=True
ALLOWED_HOSTS=127.0.0.1,localhost,10.0.2.2

# Use sqlite for local dev. For Postgres set DB_ENGINE=postgres and the rest.
DB_ENGINE=postgres
DB_NAME=vitalstream
DB_USER=postgres
DB_PASSWORD=postgres
DB_HOST=127.0.0.1
DB_PORT=5432
